body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

span {
    font-size: .99vw;
    font-weight: normal;
}

.splash-body {
    background: radial-gradient(#F5F5E4, #F7F7F3, #E4F5ED);
    height: 100vh;
}

.splash-header {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 85px;
    padding-right: 85px;
    margin-bottom: 50px;
}

.hiretual-logo {
    max-width: 150px;
    max-height: 33.33px;
}

.header-links-ctnr {
    display: flex;
    width: 38vw;
    line-height: 1.1;
    color: #337ab7;
    font-size: 1.4vw;
    justify-content: space-between;
}

.header-link {
    padding: 5px 15px;
    z-index: 10;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.header-link:hover {
    background: rgba(0, 113, 197, 0.1);
}

.biz {
    padding: 5px 15px;
    background: #0089F0;
    color: white;
    border: 1px solid #0089F0;
    border-radius: 30px;
}

.biz:hover {
    color: white;
    background: #0074CC;
    border: 1px solid #0074CC;
    cursor: pointer;
    text-decoration: none;
}

.learn-more-ctnr {
    display: flex;
    color: #333;
    justify-content: space-around;
}

.call-to-action {
    margin-left: 45px;
    margin-top: 8.5%;
    position: relative;
    text-align: center
}

.cta-title {

    font-weight: bold;
    line-height: 1.1;
    font-size: 3.6vw;
    margin-bottom: 10px;
}

.cta-tagline {
    font-weight: 300;

    font-size: 1.6vw;
}

.cta-btn {
    margin-top: 60px;
    color: #0089F0;
    padding: 10px 15px;
    position: absolute;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0089F0;
    width: 190px;
}

.cta-signup {
    left: -40px;
}

.cta-signup:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(180deg,#0089F0 0,#007EDB);
    color: white;
    border: 1px solid #0089F0;
}
  
.cta-xtn {
    right: -40px;
    background-color: #0089F0;
    color: #ffffff;
}

.cta-xtn:hover {
    color: #0089F0;
    background: transparent;
    border: 1px solid #0089F0;
    cursor: pointer;
    text-decoration: none;
}

.testimonials {
    position: absolute;
    bottom: -30px;
    color: #0071C5;
}

.testimonials h1 {
    font-weight: bold;
    font-size: 1.33vw;
    margin-bottom: 10px;
}

.testimonials p {
    font-size: 1.2vw;
}

/* NOTE: DASHBOARD STYLING IS BELOW */

.dash-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-right: 85px;
    position: relative;
}

.burger {
    position: absolute;
    left: 21vw;
    top: 10px;
    transform: rotate(90deg);
}

.dash-header-ctnr {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 12vw;
}

.dash-home-link {
    background: #242A34;
    color: #fff;
    width: 18vw;
    padding-top:10px;
    font-weight: 600;
}

.support-menu {
    border-radius: 15px;
    border: 1px solid ;
    border-color: #007EDB;
    color: #007EDB;
    width: 80px;
    padding: 3px 5px;
    font-size: 1.2vw;
}

.support-menu:hover {
    background-color: #007EDB;
    color: #FFF;
    cursor: pointer;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.dash-body {
    display: flex;
}

.side-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #242A34;
    color: #fff;
    height: 100vh;
    width: 18vw;
    box-sizing: border-box;
    padding-top:10px;
}

.side-link {
    border-bottom: 1px solid #444;
    font-size: 1.2vw;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: 300;
}

.side-link:hover {
    background-color: rgba(225,225,225,.2)
}

.side-link span {
    margin-right: 10px;
}

.globe-icon {
    height: 15px;
    width: 15px;
    float: left;
    margin-top: 3px;
}

.side-btn {
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 48vh;
    left: 20px;
    background-color: #007EDB;
    color: white;
    border-color: #007EDB;
    font-size: 1vw;
    font-weight: 600;
    padding: 11px 17px;
    word-spacing: 3px;
    border-radius: 3px;
}

.side-btn:hover {
    background-color: #78A7CC;
    border-color: #78A7CC;
    color: white;
}

.add-to-chrome-ctnr {
    position: relative;
    width: 55vw;
    margin-left: 50px;
    margin-top:10px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 15px;
    line-height: 1.42857143;
    color: #333;
    border-bottom: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    border-color: rgba(0,0,0,0.15);
}

.add-to-chrome-ctnr h1 {
    margin-bottom: 10px;
    font-size: 1.3vw;
}

.add-to-chrome-ctnr p {
    font-size: 1vw;
    margin-bottom: 8px;
}

.chrome-logo{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 60px;
}

.install-btn {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 9px 25px;
    font-size: 1vw;
    border-radius: 30px;
    position: absolute;
}